.skin .controls .basic,
.skin .controls .pages {
    background:     #333;
    bottom:         0;
    left:           0;
    position:       absolute;
    text-align:     center;
    width:          100%;
    filter:         alpha(opacity=70);
    -moz-opacity:   0.7;
    -khtml-opacity: 0.7;
    opacity:        0.7;
    z-index:        100;
}
.skin .controls .basic {
    bottom:         auto;
    top:            0;
}
    .skin .controls li {
        display:    -moz-inline-box;
        display:    inline-block;
        *display:   inline;
        padding:    4px 8px;
    }
    .skin .controls button {
        background:     url(../img/controls.png) no-repeat 0 0;
        border:         0;
        cursor:         pointer;
        height:         16px;
        position:       relative;
        text-indent:    -999em;
        width:          16px;
    }
        .skin .controls .disabled button {
            filter:         alpha(opacity=30);
            -moz-opacity:   0.3;
            -khtml-opacity: 0.3;
            opacity:        0.3;
        }
        .skin .controls .pause button {
            background-position:    -16px 0;
        }
        .skin .controls .prev {
            position:   absolute;
            top:        100px;
        }
            .skin .controls .prev button {
                background-position:    -32px 0;
            }
        .skin .controls .next {
            position:   absolute;
            right:      0;
            top:        100px;
        }
            .skin .controls .next button {
                background-position:    -48px 0;
            }
        .skin .controls .pages button {
            background-position:    -32px -16px;
        }
            .skin .controls .pages .current button {
                background-position:    0 -16px;
            }